@import "../../style/mixins";

.view-page {
}

.view-overview {
  @include respond-from("sm") {
    display: flex;

    .logo {
      min-width: 246px;
      max-height: 246px;
      flex: 0;
    }
  }
}

.view-summary {
  @include respond-from("sm") {
    margin-left: 20px;
    flex: auto;
  }

  p {
    line-height: 1.8;
  }
}

.view-download {
  width: 170px;
}
